<p><%= @answer %></p>
<p class="character"> - <em>You</em></p>

<p><%= @response %></p>
<p class="character"> - <em>Your coach</em></p>

<br>
<br>

<p><a href="/ask">Ask a new question</a></p>
<%= link_to 'Ask a new question', :back %>
